@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /*declaração de variaveis no CSS*/
    --cor-01: #06c;
    --cor-02: #000;
    --cor-03: #CCC;
    --cor-04: #fff;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px ;
    padding-right: 15px;
}

#cabecalho {
    background-color: var(--cor-02);
    margin-bottom: 30px;
}

#cabecalho #logo {
    width: 30px;
}

#cabecalho .container {
    display: flex;
    align-items: center;/* Alinha a logo com o menu na horizontal*/
    justify-content: space-between; /* Distribui a logo e o menu em lados opostos*/
} 

#cabecalho #menu ul {
    display: flex;

}

#cabecalho #menu ul li {
    list-style: none;
}
#cabecalho #menu ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--cor-03);
    transition: all 0.3s linear;
}
#cabecalho #menu ul li a:hover {
    background-color: var(--cor-01);
}

.conteudo {
    padding-top: 50px ;
    padding-bottom: 50px ;
}

.titulo-secao {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
    
}
.but {
    display: block;
    background-color: var(--cor-01);
    padding: 20px;
    border-radius: 30px;
    color: var(--cor-04);
    text-decoration: none;
    text-align: center;
    max-width: 300px;
    font-size: 18px;
    margin: 0 auto;
    transition: all 0.2s linear;
}
.but:hover {
    box-shadow: 3px 3px 10px var(--cor-01);
}

#apresentacao img {
    margin-bottom: 50px;
}

#historia img {
    float: left;
    margin-right:  30px;
    border-radius: 20px;

}

#historia p {
    text-align: justify;
    margin-bottom: 15px;
}

#modelos .container {
/*Transforma o conteiner em uma grid*/
    display: grid;
/*aplica uma grid de 4 colunas*/
grid-template-columns:repeat(4, 1fr);
gap: 40px;
}

#modelos .container img{
    height: 300px;
    margin-bottom: 30px;
}

#modelos .container h3{
    margin-bottom: 20px;
    font-size: 22px;
}

#modelos .container ul{
    margin-bottom: 30px;
    padding-left: 20px;

}

#rodape {
    background-color: var(--cor-02);
    color: var(--cor-04);
    text-align: center;
    padding: 30px;
    font-size: 14px;
}

#fotos .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#fotos .container img {
    width: 100%;
    transition: all 0.2s linear;
    
}

#fotos .container img:hover {
    transform: scale(0.9);
}

#videos .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

#rodape a {
    color: var(--cor-01);
    text-decoration: none;
    margin-top: 10px;

}
#rodape a:hover {
    text-decoration: underline;
}
/*defini que o css sera aplicado ate 800px*/
@media (max-width:800px) {
   #cabecalho .container {
    display: block;
   }
   #cabecalho #logo {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;

   }
   #cabecalho #menu ul {
    justify-content: center;
    flex-wrap: wrap;
   }
   #fotos .container {
    grid-template-columns: 1fr 1fr 1fr;
   }
}

@media (max-width:480px) {
   
    #fotos .container {
        grid-template-columns: 1fr 1fr ;
       }
}